<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/index.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="contact"><a href="/login">LOG In</a></li>
          <li id="contact"><a href="/login">REGISTER</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

    <div class="row">
        <div class="col col-sm-6">
                <img src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=396&q=80" alt="">
        </div>
        <div class="col col-sm-6">
            <h4 class="fol">
                Welcome to our blog! Here, you'll find a collection of informative and engaging posts on a wide range of topics. From technology and science, to health and wellness, to travel and culture, we cover it all. Our team of writers is dedicated to providing well-researched and thought-provoking content that will keep you informed and entertained. So whether you're looking to expand your knowledge or simply pass the time, we've got you covered. Check out our latest posts below!
            </h4>
            <img src="https://www.shutterstock.com/image-photo/bloggingblog-concepts-ideas-white-worktable-260nw-1029506242.jpg" alt="">
        </div>
    </div>
        
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Blog by Dharmareddy P❤️ </p>
  </div>
</div>
</body>
</html>